/packages
/InstagramFeed/bin
/InstagramFeed/obj
/InstagramFeed.v11.suo
/Site/obj
/Site/bin
/Site/*.user
/Tests/obj
/Tests/bin
/InstragramParse/bin
/InstragramParse/obj
/InstagramFeed.v12.suo
/InstagramFeed.Parse/obj
/InstagramFeed.Parse/bin
/InstagramFeed.Azure/obj
/InstagramFeed.Azure/bin
/Site.Azure/obj
/Site.Azure/bin
/Site.Parse/obj
/Site.Parse/bin
/Site.Azure/Web.Debug.config
/Site.Azure/Web.Release.config
/Site.Parse/Web.Release.config
/Site.Parse/Web.Debug.config
/InstagramFeed/InstagramFeed.csproj.user
/Site.Azure/Site.Azure.csproj.user
/Site.Parse/Site.Parse.csproj.user
/.nuget
