<?xml version="1.0" encoding="utf-8"?>

<configuration>

  
  <!-- SETTINGS FOR INSTAGRAMFEED -->
  <configSections>
    <section name="instagramFeedSettings" type="InstagramFeed.InstagramFeedSettingsHandler, InstagramFeed" />
    <section name="instagramFeedAzureSettings" type="InstagramFeed.Azure.AzureSettingsHandler, InstagramFeed.Azure" />
  </configSections>
  
  <instagramFeedSettings 
    instagramClientId="YOUR INSTAGRAM CLIENT ID" 
    hashTags="TAG TO SEARCH FOR" 
    pageSize="12"
    allowedOrigins=""
    pollInterally="true"
    startDate="20140101"
    adminKey="SOMETHING RANDOM" 
    singleVotePerUser="false" 
    instagramPollInterval="120" />
  
  <instagramFeedAzureSettings connectionString="UseDevelopmentStorage=true" />
  <!-- SETTINGS FOR INSTAGRAMFEED -->

  
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="iAmAnAdminHonest" value="*" />
      </customHeaders>
    </httpProtocol>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
